
body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #161616;
    padding: 20px;
  }
  
  #titulo {
    color: #e60000;
    animation: aparecer 1s ease-in-out;
  }
  
  main {
    padding: 30px;
  }
  
  .opcoes button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #222;
    color: white;
    transition: 0.3s;
  }
  
  .opcoes button:hover {
    background-color: #e60000;
    transform: scale(1.05);
  }
  
  #mensagem {
    font-weight: bold;
    margin-top: 20px;
    color: yellow;
  }
  
  #imagem-pergunta {
    margin-top: 20px;
    border-radius: 20px;
    max-width: 90%;
    transition: transform 0.5s;
  }
  
  #imagem-pergunta:hover {
    transform: scale(1.05);
  }
  
  .fade-in {
    animation: aparecer 1s ease-in-out;
  }
  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }